.mainContainer {
  height: 100vh;
}

.mainHeader {
  height: 25em;
  background-color: #f9f9e7;
  display: flex;
  flex-direction: row;
  color: aliceblue;
}
/*TITLE SECTION */
.titleContainer {
  background-color: #161613;
  -webkit-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  transform: skew(-20deg);
  width: 45%;
  border-right: 2px solid rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
.titleBox {
  -webkit-transform: skew(20deg);
  -ms-transform: skew(20deg);
  transform: skew(20deg);
}
.ajustTextTitle {
  -webkit-transform: skew(20deg);
  -ms-transform: skew(20deg);
  transform: skew(20deg);
}

.titleBox span {
  font-family: 'Righteous', sans-serif;
  font-size: 7.1vw;
}
.titleBox p {
  font-size: 2vw;
}

/*THIS DIV ONLY EXIST TO COMPLETE THE TITLE SPACE ON THE HEAD*/
.completeDiv {
  height: 20em;
  width: 5em;
  background-color: #161613;
  position: absolute;
}

/*PRESENTATION DIV */

.presentationDiv {
  margin: auto;
  color: #161613;
  width: 40%;
  font-size: 1.2vw
}

.presentationContainerDiv{
  width: 40%;
  margin: auto 20px 
  auto 0px;
}

.menuOptions {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.contactsButtonsContainer {
  width: 12%;
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.contactsButtonsContainer a img:hover {
  cursor: pointer;
}

/*MAIN SECTION*/
.contentContainer {
  background-color: #fcfdf5;
}

.line1 {
  width: 24em;
  white-space: nowrap;
  overflow: hidden;
}

.line2 {
  width: 34em;
  white-space: nowrap;
  overflow: hidden;
}

.lastLine {
  border-right: 2px solid transparent;
  width: 22em;
  white-space: nowrap;
  overflow: hidden;
  padding: -10px
}

.typeAnimationLine1 {
  animation: typingLine1 1.5s steps(40)  normal;
}

.typeAnimationLine2 {
  animation: typingLine2 2.5s steps(40) normal;
}

.typeAnimationLine3 {
  animation: typingLine3 5s steps(40) normal,
  blinkCursor 600ms steps(100) 5s infinite;
}

.hiddenLine {
  display: none;
}

@keyframes typingLine1 {
  from {
    width: 0;
  } to {
    width: 30em;
  }
}

@keyframes typingLine2 {
  0% {
    width: 0em;
  } 

  50% {
    width: 0em;
  }

  100% {
    width: 30em;
  }
}

@keyframes typingLine3 {
  0% {
    width: 0em;
  } 
  
  50% {
    width: 0em;
  }

  100% {
    width: 30em;
  }
}

@keyframes hiddenLine {
  from {
    display: none;
  } to {
    display: block;
  }
}

@keyframes blinkCursor {
  0% {
    border-right: 2px solid rgba(0, 0, 0, 0.75); 
  }
  100% {
    border-right-color: transparent;
  }
}

@media screen and (max-width: 650px) {
  .presentationDiv {
    font-size: 2vw;
  }
}

@media screen and (max-width: 1150px) {
  .mainContainer {
    width: 100vw;
    overflow-x: hidden;
  }
  .mainHeader {
    display: flex;
    flex-direction: column;
  }
  .titleContainer {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    width: 100%;
    border-right: 2px solid rgb(255, 255, 255);
    height: 60%;
  }
  .titleBox {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .titleBox span{
    font-size: 4em;
  }
  .titleBox p {
    font-size: 1em;
  }
  .completeDiv {
    display: none;
  }
  .contactsButtonsContainer {
    width: 100%;
  }
  .presentationDiv {
    font-size: 2.2vw;
  }
}