.mainContainer {
  height: 100vh;
}

.mainHeader {
  height: 20em;
  background-color: rgb(202, 202, 202);
  box-shadow: 1px 3px 10px 1px grey;
  display: flex;
  flex-direction: row;
  color: aliceblue;
}
/*TITLE SECTION */
.titleContainer {
  background-color: black;
  -webkit-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  transform: skew(-20deg);
  width: 45%;
  border-right: 2px solid rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
.titleBox {
  -webkit-transform: skew(20deg);
  -ms-transform: skew(20deg);
  transform: skew(20deg);
}
.ajustTextTitle {
  -webkit-transform: skew(20deg);
  -ms-transform: skew(20deg);
  transform: skew(20deg);
}

.titleBox span {
  font-family: 'Righteous', sans-serif;
  font-size: 7.1vw;
}
.titleBox p {
  font-size: 2vw;
}

/*THIS DIV ONLY EXIST TO COMPLETE THE TITLE SPACE ON THE HEAD*/
.completeDiv {
  height: 20em;
  width: 5em;
  background-color: black;
  position: absolute;
}

/*PRESENTATION DIV */

.presentationDiv {
  margin: auto;
  color: #212121;
}